<header>
    <h1>Lista de empleados</h1>
    <div class="search-container">
      <input type="text" class="form-control" placeholder="Buscar empleado..." name="filterPost" [(ngModel)]="filterPost">
      <button routerLink="/add">Agregar empleado</button>
    </div>
</header>
<div class="employee-container">
    <div class="employee-card" *ngFor="let employee of employees | filter:filterPost" >
      <img src="https://scontent.fcyw4-1.fna.fbcdn.net/v/t1.15752-9/336584590_963190704697464_3942002476864333430_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=t96qot8noOUAX8EeDYC&_nc_ht=scontent.fcyw4-1.fna&oh=03_AdQOGEfETgymt2L3mYdm41NgOjnOxDnJzdxuT3CScv4Ccg&oe=6442F097" alt="Foto del empleado" (click)="showQR(employee)">
      <h2>{{employee.Nombre}}</h2>
      <!-- <p>{{employee.Rol[0]}}</p> -->
      <p><strong>Email:</strong>{{employee.Correo}}</p>
      <p><strong>Phone:</strong>{{employee.Telefono[0]}}</p>
      <div *ngIf="!(employee.IdEmpleado===1000000001)" class="buttons">
          <button routerLink="/edit-emp/{{employee.IdEmpleado}}">Edit</button>
          <button (click)="deleteEmployee(employee)">Delete</button>
        </div>
    </div>
</div>